# General
USERNAME=myuser
PASSWORD=$2b$12$xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
DEBUG=NODEBUG
DOMAINS="dyn.example.com,example.org"

# AWS Route53 backend
AWS_ACCESS_KEY_ID=AKIAXXXXXXXXXXXXXXXX
AWS_SECRET_ACCESS_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# nsupdate backend
NSUPDATE_KEY="key.dyn.example.com"
NSUPDATE_ALGO="hmac-sha512"
NSUPDATE_SECRET="base64-encoded-secret-here"
NSUPDATE_NAMESERVER=10.0.0.1

# Traefik reverse proxy
TRAEFIK_HOSTNAME=dyndns.example.com
LETSENCRYPT_EMAIL=admin@example.com
# Staging: https://acme-staging-v02.api.letsencrypt.org/directory
# Production: https://acme-v02.api.letsencrypt.org/directory
LETSENCRYPT_CASERVER=https://acme-staging-v02.api.letsencrypt.org/directory
# External ports (defaults: 80/443)
#HTTP_PORT=80
#HTTPS_PORT=443

# Used by test scripts
PASSWORD_CT=plaintext-password-here
HOST=dyndns.example.com
